<html>
<head>
    <title>Library Catalog</title>
</head>
<body>
    <h1>{{ book.getTitle }}</h1>

    {% if authors is not empty %}
        <p>Here are the authors for this book:</p>
        <ul>
            {% for author in authors %}
                <li>{{ author.getAuthor }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h4>Add an author to this book:</h4>

    <form action='/add_authors' method='post'>
        <input id="book_id" name="book_id" type="hidden" value="{{ book.getId }}">
        <label for="author_id">Select an author</label>
        <select id='author_id' name='author_id' type='text'>
          {% for author in all_authors %}
            <option value="{{ author.getId }}"> {{ author.getAuthor }} </option>
          {% endfor %}
        </select>
        <button type='submit'>Add author</button>
    </form>

    <p><a href="/books/{{ book.getId }}/edit">Edit this book</a></p>

    <p><a href='/'>Home</a></p>

</body>
</html>
